name: Trigger auto deployment for autotrader

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ dev ]
    paths-ignore:
    - relay/**
    - infra/Dockerfile.relay

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AUTOTRADER_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AUTOTRADER_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AUTOTRADER_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: ./Dockerfile
          targetLabel: latest
          registryUrl: autotraderbinance.azurecr.io
          registryUsername: ${{ secrets.AUTOTRADER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.AUTOTRADER_REGISTRY_PASSWORD }}
          containerAppName: autotrader
          resourceGroup: autotrader
          imageToBuild: autotraderbinance.azurecr.io/autotrader:${{ github.sha }}
